<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class=home-cont-images>
        <div class="img1">
            <img src="assets/images/img1.jpg">
        </div>
        
    </div>
    <div class="home-cont-info">
        <p class="heading">
            About
        </p>
        <p class="info">Gadgeon is an extended engineering center for us, and they provide developers, testers, and network engineers to enhance our capabilities. They work on our connectivity management platform and our location-based services platform. They also help with our infrastructure and network.

            The quality of their work and the resources they provide are great. They get us the right developers at the right skill set, and they set up a training program to teach the team about our business and our specific implementation process.</p>
    </div>
    
</body>
</html>

