<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="services">
        <h1 class="info">Offerings from Gadgeon</h1>
        <div class="serv1">
            <img src="assets/images/s1.jpg">
            <p>Industry 4.0 Readiness Assessment
                Industry 4.0 is a concept with frameworks and reference architectures to connect physical business assets using digital technologies.shed processes for obtaining evidence and evaluating objectively to determine the maturity level of Industry 4.0 implementation as a baseline. It is a holistic assessment of operational and business processes for benchmarks and practices of Industry 4.0. The assessment also involves identifying gaps and helping the customer identify improvement opportunities to initiate, scale and sustain their Industry 4.0 journey.</p>
        </div>
        <div class="serv1">
            <img src="assets/images/s2.jpg">
            <p>Industry 4.0 Readiness Assessment
                Industry 4.0 is a concept with frameworks and reference architectures to connect physical business assets using digital technologies.shed processes for obtaining evidence and evaluating objectively to determine the maturity level of Industry 4.0 implementation as a baseline. It is a holistic assessment of operational and business processes for benchmarks and practices of Industry 4.0. The assessment also involves identifying gaps and helping the customer identify improvement opportunities to initiate, scale and sustain their Industry 4.0 journey.</p>
        </div>
        <div class="serv1">
            <img src="assets/images/s3.jpg">
            <p>Industry 4.0 Readiness Assessment
                Industry 4.0 is a concept with frameworks and reference architectures to connect physical business assets using digital technologies.shed processes for obtaining evidence and evaluating objectively to determine the maturity level of Industry 4.0 implementation as a baseline. It is a holistic assessment of operational and business processes for benchmarks and practices of Industry 4.0. The assessment also involves identifying gaps and helping the customer identify improvement opportunities to initiate, scale and sustain their Industry 4.0 journey.</p>
        </div>

        <div class="serv1">
            <img src="assets/images/s4.jpg">
            <p>Industry 4.0 Readiness Assessment
                Industry 4.0 is a concept with frameworks and reference architectures to connect physical business assets using digital technologies.shed processes for obtaining evidence and evaluating objectively to determine the maturity level of Industry 4.0 implementation as a baseline. It is a holistic assessment of operational and business processes for benchmarks and practices of Industry 4.0. The assessment also involves identifying gaps and helping the customer identify improvement opportunities to initiate, scale and sustain their Industry 4.0 journey.</p>
        </div>
    </div>    
    
</body>
</html>
